.h1{
    display: block;
    font-size: 2em;
    font-weight: bold;
}

.h3{
    display: block;
    font-size: 1.17em;
    font-weight: bold;
}

.center{
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
}

.leftimg 
{
    float:left; 
    margin: 7px 7px 7px 0; 
}

table{
    border: 3px solid black;
    border-collapse: collapse; 
    text-align: center;
}

